<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find moveo_urdf)/urdf/moveo_urdf.urdf"/>
  <param name="robot_description" textfile="$(arg model)" />  
  <arg name="gcode_in" default="$(find gcode_translation)/gcode/30mm.gcode"/>
  
  <node name="virtual_shift" pkg="virtual_shift" type="virtual_shift" output="screen">
    <param name="urdf_param" value="/robot_description"/>
    <param name="gcode_in" value="$(arg gcode_in)"/>
  </node>
</launch>
