gcode_translation/gcode/*.gcode
gcode_translation/check_success/*.txt
gcode_translation/include/Mesh/circle/*.txt
moveo_moveit_move_group/area/*.csv
Cura/protobuf/build-dir
Cura/libArcus/build
Cura/libSavitar/build
Cura/libCharon/build
Cura/CuraEngine/build
Cura/Cura/resources/materials
Cura/sip-4.19.20/
.vscode
*.pyc
*.qmlc
