<?xml version="1.0"?>
<launch>
  <arg name="gcode_in" default="$(find gcode_translation)/gcode/15mm_test.gcode"/>
  <arg name="gcode_out" default="$(find gcode_translation)/gcode/split 15mm_test.gcode"/>

  <node name="gcode_translation" pkg="gcode_translation" type="gcode_point_split" output="screen" required="true" >
    <param name="gcode_in" value="$(arg gcode_in)"/>
    <param name="gcode_out" value="$(arg gcode_out)"/>
  </node>
</launch>
